<!DOCTYPE html>
<html lang = "en">
    
<head>
    <body>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        <link rel = "stylesheet" href = "/src/components/design/styles.css">
        <title>Portfolio</title>
</head> 


<!--NAVIGATION-->
<body>
    <nav>
        <ol class = "nav-links">
            <button id = "home-btn" class = "link"><a href = "front-page.html">HOME</a></button>
            <button id = "contact-btn" class = "link"><a href = "contact.html">CONTACT</a></button>
            <button id = "about-btn" class = "link"><a href = "about-page.html">ABOUT</a></button>
        </ol>
    </nav>
</body>


<!---HEADER + TITLE + BUTTON-->
<div class = "main">
    <h4>SHOTBYYDRE</h4>
    <p class = "title">DEVELOPER • VIDEOGRAPHER • PHOTOGRAPHER</p>
    <button class = "button"><a href = "work-page.html">WORK</a></button>
</div>


</body>
</html>