<!DOCTYPE html>

<html>
<body>
    <div class = "background">
        <body style = "background-color: rgb(53, 51, 51);">
    </div>
</body>


<body>
    <div class = "title">
        <html lang = "en">
            <head>
                <meta charset = "UTF-8">
                <meta http-equiv="X-UA-COMPATIBLE" content = "IE-edge">
                <meta name = "viewport" content = "width=device-width, initial-scale, user-scalable = no"/>
                <link rel = "stylesheet" type = "text/css" href = "/src/components/design/styles.css"/>
                <title>Contact</title>
            </head>
        </html>  
    </div>
</body>
</html>