<!DOCTYPE html>

<html>
<body>
    <div class = "background">
        <body style = "background-color: rgb(53, 51, 51);">
    </div>
</body>


<body>
    <div class = "title">
        <html lang = "en">
            <head>
                <meta charset = "UTF-8">
                <meta http-equiv="X-UA-COMPATIBLE" content = "IE-edge">
                <meta name = "viewport" content = "width=device-width, initial-scale, user-scalable = no"/>
                <link rel = "stylesheet" type = "text/css" href = "/src/components/design/styles.css"/>
                <title>Portfolio</title>
            </head>
        </html>  
    </div>
</body>

<body>
    <div class = "nav-bar">
        <nav>
            <p align = "right">
            <button id = "home" type = "button">HOME</button>
            <button id = "about" type = "button">ABOUT</button>
            <button id = "contact" type = "button">CONTACT</button>
            </p>
        </nav>
    </div>
</body>

<body>
    <div class = "front">
        <h1 id = "header1">SHOTTBYDRE</h1>
        <button id = "work" type = "button">WORK</button>
    </div>
</body>

<body>
    <div class = "icons">
        <img id = "insta" src = "/src/components/assets/icons/insta.png">
        <img id = "email" src = "/src/components/assets/icons/email.png">
    </div>
</body>
</html>