<!DOCTYPE html>

<!--Start Background-->
<html>
    <body class = "background">
        <body style = "background-color: rgb(46, 44, 44);">
    </body>
<!--End Background-->

<!--Start Title-->
    <head>
        <title>Portfolio</title>
        <meta charset = "UTF-8"/>
        <meta name = "viewport" content = "width=device-width, initial-scale = 1, user-scalable = no"/>
        <link rel = "stylesheet" href = "/src/components/design/styles.css"/>
    </head>
<!--End Title-->

<!--Start Navigation-->
    <body class = "navigation">
        <nav id = "nav-bar">
            <p style = "text-align: right">
                <button class = "my-btn-right" id = "Home" type = "button">HOME</button>
                <button class = "my-btn-right" id = "About" type = "button">ABOUT</button>
                <button class = "my-btn-right" id = "Contact" type = "button">CONNECT</button>
            </p>
        </nav>
    </body>
<!--End Navigation-->

<!-- Start Header-->
    <head>
        <body class = "Header">
            <h1 id = "Header1">SHOTBYYDRE</h1>
        </body>
    </head>
<!--End Header-->

<!--Start Buttons-->
    <body class = "buttons">
        <button class = "fixed-button" id = "Work" type = "button">WORK</button>
    </body>
<!--End Buttons-->

<!--Start Icons-->
    <body class = "icons">
        <img id = "insta" src = "/src/components/assets/icons/insta.png">
        <img id = "email" src = "/src/components/assets/icons/email.png">
    </body>
</html>