@font-face {
    font-family: 'impact';
    src: url('/src/components/assets/fonts/impact.ttf') format('truetype');
}

#Home, #About, #Contact {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-family: 'impact';
    letter-spacing: px;
}


#Home:hover, #About:hover, #Contact:hover  {
    background-color: darkgray;
}

#Header1 {
    color: white;
    position: relative;
    text-align: center;
    bottom: -150px;
    font-size: 50px;
}

@font-face {
    font-family: 'Oswald';
    src: url('/src/components/assets/fonts/Oswald.ttf') format('truetype');
}

.fixed-button {
    background-color: transparent;
    border-color: black;
    color: white;
    border-radius: 20%;
    font-size: 17px;
    position: fixed;
    top: 295px;
    left: 46%;
    width: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    width: auto;
    font-family:'Oswald', sans-serif, 'Oswald';
}

#Work:hover {
    background-color: darkgray;
}

#email {
    background-color: none  ;
    position: fixed;
    bottom: 520px;
    left: 435px;
    width: 35px;
    height: auto;
}

#insta {
    background-color: none  ;
    border-radius: 20px;
    position: fixed;
    bottom: 520px;
    left: 485px;
    width: 35px;
    height: auto;
}