<!DOCTYPE html>
<html lang = "en">
    
<head>
    <body>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        <link rel = "stylesheet" href = "/src/components/design/styles.css">
        <title>Portfolio</title>
</head>

<body>
    <nav>
        <ol class = "nav-links">
            <button id = "home-btn" class = "link"><a href = "front-page.html">HOME</a></button>
            <button id = "contact-btn" class = "link"><a href = "contact.html">CONTACT</a></button>
            <button id = "about-btn" class = "link"><a href = "about-page.html">ABOUT</a></button>
        </ol>
    </nav>
</body>

<body>
    <div id = "container" class = "images">
        <img a href = "sports-video.html" id = "soccer" class = "soccer" src = "/src/components/assets/pictures/soccer.jpg">
        <img a href = "sports-pictures.html" id = "soccer1" class = "soccer1" src = "/src/components/assets/pictures/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS81bjFtZy9NQUYyNzM1bjFtZy8xL3AuanBn.jpg">
    </div>
</body>

<body>
    <div id = "container2" class = "image-title">
        <p id = "videography" class = "image-titles"><a href = "sports-video.html">VIDEOGRAPHY</a></p>
        <p id = "photography" class = "image-titles"><a href = "sports-pictures.html">PHOTOGRAPHY</a></p>
    </div>
</body>

</body>
</html>